# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/

# Large processed datasets
data/processed/unique_comments.csv

# Raw patch-aware dataset
data/pr_review_traces/*.jsonl